body {
  background-color: lightgrey;
  margin: 0;
}

div {
  display: inline-block;
}

.container {
  position: absolute;
  background-color: rgb(92, 91, 91);
  border-radius: 25px;
  height: 88vh;
  width: 85vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-nav {
  padding: 2%;
  display: block;
}

.running-info {
  float: right;
  position: absolute;
  left: 60%;
}

.should-run {
  text-align: center;
  transform: translate(0, -14.5%);
}

.should {
  background-color: rgb(133, 133, 133);
  padding: 5% 26% 5% 26%;
  border-radius: 50px;
}

.aqi,
.uv {
  background-color: rgb(133, 133, 133);
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
}

.weather-info {
  float: left;
  left: 60%;
  position: relative;
}

.map {
  margin-top: 5%;
  float: bottom;
  background-color: rgb(133, 133, 133);
  padding: 5% 5% 5% 5%;
  border-radius: 50px;
}

h1,
p,
li {
  color: white;
  position: relative;
}

.air {
  float: top;
}

/* media query */

/* Mobile devices */
@media (max-width: 480px) {
  .map {
    display: none;
  }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .T_should {
    font-size: 16px;
  }
  li {
    font-size: 14px;
  }
  .should {
    padding: 5% 19% 5% 19%;
  }
  .weather-info {
    transform: translate(-50%, -7.5%);
  }
  .icon {
    width: none;
    height: none;
  }
}

/* laptops */
@media (min-width: 1025px) and (max-width: 1700px) {
  .T_should {
    font-size: 16px;
  }
  li {
    font-size: 14px;
  }
  .should {
    padding: 5% 19% 5% 19%;
  }

  .weather-info {
    transform: translate(-50%, -7.5%);
  }
  .icon {
    width: none;
    height: none;
  }
}
