<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="c50Fin\static\style.css" />
    <title>Weather App</title>
  </head>
  <body>
    <h1>WEATHER TODAY:</h1>
    <p>this is a test</p>
    <!-- comment if works -->
    <h1>Today is very hot in ubonratchathani</h1>
    <!--will it work?-->
    <!-- it worked -->
  </body>
</html>
