<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <title>Weather App</title>
  </head>
  <body>
    {% block body %}

    <div class="container">
      <div class="top-nav">
        <div class="place">
          <!-- location icon -->

          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            version="1.1"
            viewBox="0 0 16 16"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
            class="location_icon"
          >
            <path
              d="M8 0c-2.761 0-5 2.239-5 5 0 5 5 11 5 11s5-6 5-11c0-2.761-2.239-5-5-5zM8 8.063c-1.691 0-3.063-1.371-3.063-3.063s1.371-3.063 3.063-3.063 3.063 1.371 3.063 3.063-1.371 3.063-3.063 3.063zM6.063 5c0-1.070 0.867-1.938 1.938-1.938s1.938 0.867 1.938 1.938c0 1.070-0.867 1.938-1.938 1.938s-1.938-0.867-1.938-1.938z"
            ></path>
          </svg>

          <input type="text" placeholder="Country, City" />
          <button type="submit">search</button>
        </div>

        <div class="settings">
          <!-- setting icon -->
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M416.3 256c0-21 13.1-38.9 31.7-46.1-4.9-20.5-13-39.7-23.7-57.1-6.4 2.8-13.2 4.3-20.1 4.3-12.6 0-25.2-4.8-34.9-14.4-14.9-14.9-18.2-36.8-10.2-55-17.3-10.7-36.6-18.8-57-23.7C295 82.5 277 95.7 256 95.7S217 82.5 209.9 64c-20.5 4.9-39.7 13-57.1 23.7 8.1 18.1 4.7 40.1-10.2 55-9.6 9.6-22.3 14.4-34.9 14.4-6.9 0-13.7-1.4-20.1-4.3C77 170.3 68.9 189.5 64 210c18.5 7.1 31.7 25 31.7 46.1 0 21-13.1 38.9-31.6 46.1 4.9 20.5 13 39.7 23.7 57.1 6.4-2.8 13.2-4.2 20-4.2 12.6 0 25.2 4.8 34.9 14.4 14.8 14.8 18.2 36.8 10.2 54.9 17.4 10.7 36.7 18.8 57.1 23.7 7.1-18.5 25-31.6 46-31.6s38.9 13.1 46 31.6c20.5-4.9 39.7-13 57.1-23.7-8-18.1-4.6-40 10.2-54.9 9.6-9.6 22.2-14.4 34.9-14.4 6.8 0 13.7 1.4 20 4.2 10.7-17.4 18.8-36.7 23.7-57.1-18.4-7.2-31.6-25.1-31.6-46.2zm-159.4 79.9c-44.3 0-80-35.9-80-80s35.7-80 80-80 80 35.9 80 80-35.7 80-80 80z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="total">
        <!-- DO NOT REMOVE -->
        <div class="running-info">
          <!-- will float right -->
          <div class="should-run">
            <!-- float top -->
            <h1>Should you run?</h1>

            <!-- should run messages -->
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </div>
          <div class="graph">
            <!-- float bottom -->
            <p>input graph here</p>
          </div>
        </div>
        <div class="weather-info">
          <!--float left -->
          <div class="air">
            <!-- float top -->
            <p>Icon here</p>

            <!-- weather icon -->
            <img
              src="http://openweathermap.org/img/w/{{weather.icon}}.png"
              alt="icon"
            />

            <p>temperature</p>
            <p>feels like</p>
          </div>
          <div class="Pollen-UV">
            <!-- float botoom -->
            <div class="Pollen">
              <!-- float left -->
              <p>Pollen count</p>
            </div>
            <div class="UV">
              <!-- float right -->
              <p>UV</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
